<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body>

<header class="container">
  <%- include('./header'); %>
</header>


<div class="shadow ml-5">

  <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);width: 100vw;height: 100vh;"  src="https://charts.mongodb.com/charts-project-0-fxxlk/embed/dashboards?id=639edf97-b774-4539-8e66-b36d3ccc421f&theme=dark&autoRefresh=true&maxDataAge=3600&showTitleAndDesc=true&scalingWidth=fixed&scalingHeight=fixed"></iframe>


<!-- <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);width: 90vw;height: 100vh;"  src="https://charts.mongodb.com/charts-project-0-fxxlk/embed/dashboards?id=639d9798-ac74-4478-8fb3-a2fc6c398e5d&theme=light&autoRefresh=true&maxDataAge=3600&showTitleAndDesc=false&scalingWidth=scale&scalingHeight=scale"></iframe> -->
</div>

<footer>
  <%- include('./footer'); %>
</footer>

</body>

<script src="https://d3js.org/d3.v7.min.js"></script>
</html>