<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SaeeAM Blackcoffer Assignment</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/graph">graph</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/D3graph">D3 Graph Demo</a>
        </li>
        
      <li class="nav-item">
      <a class="nav-link" href="/data">Data fetch</a>
      </li>
     

    </ul>
  </nav>
